<!DOCTYPE HTML >
<html lang="en">
   <head>
      <title></title>
      <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
   </head>
   <body class="container">

    <h4><%= timestamp %></h4>
    <img class="profile-image" src ="<%= image %>"> 
    <h1>Name:<%= name %></h1>
    <h2>Company: 
      <% if (typeof company === 'string'){%>
        <%=company%>
        <% } else {%>
          <ul>
            <% for (let i = 0; i < company.length; i++) {%>
              <li><%= company[i]%></li>
              <% } %>
          </ul>
          
          <% } %>

    </h2>
    <h3>Languages</h3>
    <ul>
      <% for (let i = 0; i < languages.length; i++) {%>
        <li><%= languages[i]%></li>
        <% } %>
    </ul>

   
    <form action=" /addprofile" method="POST">
      <input type="text" name="name" placeholder="Name"/><br/>
      <input type="text" name="username" placeholder="Username"/><br/>
      <input type="text" name="image" placeholder="Image (/images/example.jpg)"/><br/> 
      <input type="text" name="company" placeholder="Company"/><br/>
      <input type="text" name="languages" placeholder="Languages"/><br/>
      <input type="submit"value="Submit"/><br/>
    </form>
     
    
   </body>
</html>